.about-main{
    background-image: url(../../assets/home.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-mainHeading{
    color: rgb(255, 255, 255);
    opacity: 1;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;   
}
.about-mainPara{
    margin-top: 30px;
    color: rgb(255, 255, 255);
     font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900; 
}
.about-mainLink{
    cursor: pointer;
    transform: all .5s;
     color: rgb(174, 13, 13);
     text-decoration: none;
     font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900; 
    border-radius: 20px;
    border: 2px solid white;
    padding: 9px;
    margin-top: 30px;
}
.about-mainLink:hover{
    color: rgb(90, 89, 89);
}
.about-features-heading{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
.about-ImageSection{
    padding: 30px;
    margin: 20px;
}
.CardObj{
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 10px 10px 5px rgba(168, 168, 168, 0.5);
    width: 100%;
    height: 100%;
}
.CardObj >img{
    width: 100%;
    height: 250px;
}
.about-cardLink{
    cursor: pointer;
    transform: all .5s;
     color: rgb(8, 7, 7);
     text-decoration: none;
     font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900; 
    border-radius: 20px;
    border: 2px solid white;
    padding: 9px;
    margin-top: 30px;
}
.about-cardLink:hover{
    color: rgb(90, 89, 89);
}








/* -------------------media Query -------------- */
@media screen and (max-width:650px) {
    .about-main{
        min-height: 50vh;
    }
    .about-mainHeading{
        font-size: 25px;
        font-weight: 600;   
    }
    .about-mainPara{
         font-size: 15px;
        font-weight: 400; 
    }
}