.main-Login{
    width: 100%;
    padding: 30px;
    box-shadow: 5px 1px 10px 1px #888888;
    min-height: 60vh;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-Login >h2{
    font-size: 45px;
    text-align: center;
    padding: 50px;
    font-weight: 900;
    color: rgb(32, 32, 32);
}
.left-Login{
    padding: 20px;
}
.right-Login{
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.right-Login > img{
    width: 80%;
}
